<div>
<div ng-if="!leagueSchedule || leagueSchedule.length <= 0">
	<h3>There isn't any schedule available at this time.</h3>
</div>	
<table class="table borderless">
	<tr><td>
		<div class="col-xs-1">
			<div class="row" >
				&nbsp;
			</div>

			<div class="row" ng-repeat="hour in scheduledHours">
				{{hour}} <br />&nbsp;
			</div>

		</div>	
	
		<div class="col-xs-1" ng-repeat="dayEvent in leagueSchedule">
			<div class="row" >
				{{dayEvent.date}}
			</div>
			<div class="row" ng-repeat="event in dayEvent.gameEvents">
				<div ng-if="(event.away!=null && event.home!=null)">
					<!-- span ng-bind-html="getGameResult(event)"></span -->
					<a href="javascript:void(0)" ng-click="enterResult(this, event)" >{{event.home + ' v ' + event.away}}</a>
					<br />{{'(' + event.result[0] +'-'+ event.result[1] + ') ' }}
				</div>
			</div>

		</div>
	
	</td></tr>	
</table>

<div class="row">Teams
	<div class="row" ng-repeat="team in teams">
			<div class="col-sm-1">
				{{team.id}}
			</div>
			<div class="col-sm-2">
				{{team.name}}
			</div>	
	</div>
	
</div>

<br />

</div>